<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Weather Forecast</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<h1>Weather for {{ .City }}</h1>
		<table class="table">
			<thead>
			<tr>
				<th>Date</th>
				<th>Temperature</th>
				<th>Precipitations</th>
			</tr>
			</thead>
			<tbody>
			{{ range .Forecast }}
			<tr>
				<td>{{ .DateTime.Format "02.01 Mon 15:04" }}</td>
				<td>{{ .Temperature }} C°</td>
				<td>{{ .Precipitations }}%</td>
			</tr>
			{{ end }}
			</tbody>
	</table>
	</body>
</html>
